[profile.default]
src = "contracts"
out = "out"
libs = ["node_modules", "lib"]
optimizer = true
optimizer_runs = 200
via_ir = true
evm_version = "shanghai"
test = "test"

remappings = [
    "@openzeppelin/contracts/=node_modules/@openzeppelin/contracts/",
    "solady/=node_modules/solady/",
]
